{% from "macros/_form.html" import render_modal_form %}

{% if current_user.is_admin() %}
    {% extends "admin/layout.html" %}
{% else %}
    {% extends "user/layout.html" %}    
{% endif %}

{% block body %}
<div class="container">
    <h2>{{ _("Templates") }}</h2>
    {% if current_user.is_admin() %}
    <a class='btn btn-primary btn-large' href="#addtemplate" data-toggle="modal">
        <i class="icon-plus icon-white icon-4x"></i> {{ _("Add Template") }}
    </a>
    {% endif %}
    <hr>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Image ID") }}</th>
                <th>{{ _("VCPU") }}</th>
                <th>{{ _("PCPU") }}</th>
                <th>{{ _("Memory(M)") }}</th>
                <th>{{ _("Disk(M)") }}</th>
                <th>{{ _("VM Number") }}</th>
                <th>{{ _("Status") }}</th>
                <th></th>
            </tr>
        </thead>
        {% for template in templates %}
        <tr>
            <td>{{ template.id }}</td>
            <td>{{ template.name }}</td>
            <td>{{ template.image_id }}</td>
            <td>{{ template.vcpu }}</td>
            <td>{{ template.pcpu }}</td>
            <td>{{ template.memory }}</td>
            <td>{{ template.disk }}</td>
            <td>{{ template.vm_number }}</td>
            <td>{{ template.status }}</td>
            <td>
                <a class='btn-group'>
                {% if current_user.is_admin() %}
                <button class='btn'><a href="{{ url_for('template.delete', template_id=template.id) }}" onclick="return confirm('Are you sure?');">{{ _("Delete") }}</a></button>
                {% else %}
                <a class="open-addvm btn" href="#addvm" data-toggle="modal" data-templateid="{{ template.id }}">{{ _("Create VM") }}</a>              
                {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% if current_user.is_admin() %}
    {% if form %}
        {{ render_modal_form("addtemplate", _("Add Template"), url_for('template.index'), form) }}
    {% endif %}
{% else %}
    {% if form %}
        {{ render_modal_form("addvm", _("Add VM"), url_for('vm.index'), form) }}
    {% endif %}
{% endif %}

{% endblock %}
