{% from "macros/_form.html" import render_modal_form %}

{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{ _("Images") }}</h2>
    <a class='btn btn-primary btn-large' href="#addimage" data-toggle="modal">
        <i class="icon-plus icon-white icon-4x"></i> {{ _("Add Image") }}
    </a>
    <hr>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Name") }}</th>
                <th>{{ _("Status") }}</th>
                <th></th>
            </tr>
        </thead>
        {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.name }}</td>
            <td>{{ image.status }}</td>
            <td>
                <a class='btn-group'>
                <button class='btn'><a href="{{ url_for('image.delete', image_id=image.id) }}" onclick="return confirm('Are you sure?');">{{ _("Delete") }}</a></button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% if form %}
{{ render_modal_form("addimage", _("Add Image"), url_for('image.index'), form) }}
{% endif %}

{% endblock %}
