{% from "macros/_form.html" import render_modal_form %}

{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    <h2>Images</h2>
    <a class='btn btn-primary btn-large' href="#addimage" data-toggle="modal">
        <i class="icon-plus icon-white icon-4x"></i> Add Image
    </a>
    <hr>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.name }}</td>
            <td>{{ image.status }}</td>
            <td>
                <a class='btn-group'>
                <button class='btn'><a href="{{ url_for('admin.user', user_id=user.id) }}">Edit</a></button>
                <button class='btn'><a href="{{ url_for('admin.delete_user', user_id=user.id) }}" onclick="return confirm('Are you sure?');">Delete</a></button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% if form %}
{{ render_modal_form("adduser", "Add User", url_for('admin.users'), form) }}
{% endif %}

{% endblock %}
