{% extends "admin/layout.html" %}

{% block css %}
{{ super() }}
<style type="text/css">
h3 {text-align: center}
h4 {text-align: center}
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ _("Dashboard") }}</h2>
    <hr>
    <div class="row-fluid">
	    <div class="span3" style="text-align: center">
            <h3><a href="{{ url_for('admin.users') }}">{{ _("Users") }}</a></h3>
            <a href="#" class="btn btn-large btn-info disabled" style="height: 70px; width: 100px"><h2>{{ stat.users }}</h2></a>
        </div>
	    <div class="span3" style="text-align: center">
            <h3><a href="{{ url_for('host.index') }}">{{ _("Hosts") }}</a></h3>
            <a href="#" class="btn btn-large btn-info disabled" style="height: 70px; width: 100px"><h2>{{ stat.hosts }}</h2></a>
        </div>
        <div class="span3" style="text-align: center">
            <h3><a href="{{ url_for('image.index') }}">{{ _("Images") }}</a></h3>
            <a href="#" class="btn btn-large btn-info disabled" style="height: 70px; width: 100px"><h2>{{ stat.images }}</h2></a>
        </div>
        <div class="span3" style="text-align: center">
            <h3><a href="{{ url_for('template.index') }}">{{ _("Templates") }}</a></h3>
            <a href="#" class="btn btn-large btn-info disabled" style="height: 70px; width: 100px"><h2>{{ stat.templates }}</h2></a>
        </div>
    </div>
    <hr>
    <hr>  
    <div class="row-fluid">
 	    <div class="span6" style="text-align: center">
 	        <h2><a href="{{ url_for('vm.index') }}">{{ _("VirtualMachines") }}</a></h2>
 	    <hr>
        </div>
        <div class="span6" style="text-align: center">
 	        <h2><a href="{{ url_for('vm.index') }}">{{ _("Used Resource") }}</a></h2>
 	    <hr>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6" style="text-align: center">
            <a href="#" class="btn btn-large btn-primary disabled" style="height: 140px; width: 350px"><h2>{{ _("Total") }}</h2><hr><h2>{{ stat.vm.total }}</h2></a>
        </div>
        <div class="span6" style="text-align: center">
            <a href="#" class="btn btn-large btn-primary disabled" style="height: 140px; width: 350px"><h2>{{ _("Disk") }}</h2><hr><h2>{{ stat.resource.disk | format_float }}</h2></a>
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span6" style="text-align: center">
            <a href="#" class="btn btn-large btn-success disabled" style="height: 140px; width: 150px"><h2>{{ _("Running") }}</h2><hr><h2>{{ stat.vm.running }}</h2></a>
            <a href="#" class="btn btn-large btn-danger disabled" style="height: 140px; width: 150px"><h2>{{ _("Stopped") }}</h2><hr><h2>{{ stat.vm.stopped }}</h2></a>
        </div> 
        <div class="span6" style="text-align: center">
            <a href="#" class="btn btn-large btn-success disabled" style="height: 140px; width: 150px"><h2>{{ _("CPU") }}</h2><hr><h2>{{ stat.resource.cpu | format_float}}</h2></a>
            <a href="#" class="btn btn-large btn-danger disabled" style="height: 140px; width: 150px"><h2>{{ _("Memory") }}</h2><hr><h2>{{ stat.resource.memory| format_float }}</h2></a>
        </div> 
    </div>

</div>
{% endblock %}
