{% extends "layouts/base.html" %}

{% set page_header = _(active|capitalize) %}
{% set page_title = page_header %}

{% set tabs = [
    (_("Dashboard"), url_for('admin.index')), 
    (_("Users"), url_for('admin.users')),
    (_("Hosts"), url_for('host.index')),
    (_("VirtualMachines"), url_for('vm.index')),
    (_("Images"), url_for('image.index')),  
    (_("Templates"), url_for('template.index')),
    (_("Tasks"), url_for('task.index')),      
    (_("System"), url_for('admin.system')),      
]%}
