{% extends "layouts/base.html" %}

{% set page_header = _(active|capitalize) %}
{% set page_title = page_header %}

{% set tabs = [
    ("Dashboard", url_for('admin.index')), 
    ("Users", url_for('admin.users')),
    ("Hosts", url_for('host.index')),
    ("VirtualMachines", url_for('vm.index')),
    ("Images", url_for('image.index')),  
    ("Templates", url_for('template.index')),  
    ("Storage", url_for('admin.storage')),  
    ("Network", url_for('admin.network')),
    ("Tasks", url_for('task.index')),      
    ("System", url_for('admin.system')),      
]%}
