{% from "macros/_form.html" import render_modal_form %}

{% extends "admin/layout.html" %}

{% block body %}
<div class="container">
    {% if network %}
    <h2>Network</h2>
    {% elif storage %}
    <h2>Storage</h2>
    {% else %}
    <h2>System</h2>
    {% endif %}
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Value</th>
            </tr>
        </thead>
        {% if network %}
        {% for item in network %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ network[item] }}</td>
        </tr>
        {% endfor %}
        {% elif storage %}
        {% for item in storage %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ storage[item] }}</td>
        </tr>
        {% endfor %}
        {% else %}
        {% for item in system %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ system[item] }}</td>
        </tr>
        {% endfor %}        
        {% endif %}
    </table>
</div>

{% endblock %}
