{% from "macros/_form.html" import render_modal_form %}

{% extends "admin/layout.html" %}    
{% block body %}
<div class="container">
    <h2>{{ _("System") }}</h2>
    <hr>
    <h3>{{ _("Storage") }}</h3>
    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Value") }}</th>
            </tr>
        </thead>
        {% if storage %}
        <tr>
            <td>{{ _("Status") }}</td>
            <td>{{ storage.status }}</td>
        </tr>
        <tr>
            <td>{{ _("Type") }}</td>
            <td>{{ storage.type }}</td>
        </tr>
        <tr>
            <td>{{ _("Protocol") }}</td>
            <td>{{ storage.protocol }}</td>
        </tr>
        <tr>
            <td>{{ _("Instance Path") }}</td>
            <td>{{ storage.path }}</td>
        </tr>
        <tr>
            <td>{{ _("Image Pool Path") }}</td>
            <td>{{ storage.image_pool }}</td>
        </tr>
        <tr>
            <td>{{ _("VM Pool Path") }}</td>
            <td>{{ storage.vm_pool }}</td>
        </tr>
        <tr>
            <td>{{ _("Total Space") }}</td>
            <td>{{ storage.total_space }}</td>
        </tr>
        <tr>
            <td>{{ _("Used Space") }}</td>
            <td>{{ storage.used_space }}</td>
        </tr>   
        {% endif %}
    </table>
    <hr>
    <h3>{{ _("Network") }}</h3>
    <table class='table table-bordered table-hover'>
        <thead>
        <tr>
                <th>{{ _("ID") }}</th>
                <th>{{ _("Value") }}</th>
            </tr>
        </thead>
        {% if network %}
        <tr>
            <td>{{ _("Status") }}</td>
            <td>{{ network.status }}</td>
        </tr>
        <tr>
            <td>{{ _("Network Name") }}</td>
            <td>{{ network.name }}</td>
        </tr>
        <tr>
            <td>{{ _("Network Mode") }}</td>
            <td>{{ network.mode }}</td>
        </tr>
        <tr>
            <td>{{ _("VM Network Mod") }}e</td>
            <td>{{ network.vm_mode }}</td>
        </tr>
        {% endif %}
    </table>
</div>

{% endblock %}
