{% set page_title = user.name %}

{% extends "layouts/base.html" %}

{% block body %}
<div class="container">
    <h2>My Virtual Machines</h2>
    <button class='btn btn-primary btn-large'>New VirtualMachine</button>
    <hr>
    <table class='table table-bordered table-hover'>
        <thead>
            <tr>
                <th>#ID</th>
                <th>Name</th>
                <th>Template ID</th>
                <th>Created Time</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        {% for vm in vms %}
        <tr>
            <td>{{ vm.id }}</td>
            <td>{{ vm.name }}</td>
            <td>{{ vm.template_id }}</td>
            <td>{{ vm.create_time|format_date }}</td>
            <td>{{ vm.status }}</td>
            <td>
                <a class='btn-group'>
                <button class='btn'><a href="{{ url_for('admin.user', user_id=user.id) }}">Start</a></button>
                <button class='btn'><a href="{{ url_for('admin.user', user_id=user.id) }}">Stop</a></button>
                <button class='btn'><a href="{{ url_for('admin.user', user_id=user.id) }}">Reboot</a></button>
                <button class='btn'><a href="{{ url_for('admin.delete_user', user_id=user.id) }}" onclick="return confirm('Are you sure?');">Delete</a></button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
